<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body>
        <h1>{{title}}</h1>
        <nav>
            <a href="/">Home</a>
            {{#if thisUser.username}}
                <a href="/game">Games</a>
                <a href="/team">Teams</a>
                {{!<a href="/player">Players</a>}}
                <a href="/user">Users</a>
                <a href="/settings">Settings</a>
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            {{/if}}
            {{#if thisUser.isAdmin}}
                <a href="/admin">Admin</a>
            {{/if}}
        </nav>
        <div>
            {{#if thisUser.username}}
                Hello, {{linkUser thisUser.username}}
                {{else}}
                Not logged in.
            {{/if}}
        </div>
        {{{body}}}
    </body>
</html>
