<h2>Here you can change your settings</h2>
<form method="post" action="/settings">
    First Name: <input type="text" name="firstName" value={{thisUser.firstName}}><br>
    Last Name: <input type="text" name="lastName" value={{thisUser.lastName}}><br>
    Favorite Team: <select name="favoriteTeam">
        {{#each team}}
            <option value={{this._id}} {{ifequal this._id ../thisUser.favoriteTeam}}>{{this.fullName}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>