<h2>Here you can change your settings</h2>
<form method="post" action="/settings">
    First Name: <input type="text" name="firstName" value={{thisUser.firstName}}><br>
    Last Name: <input type="text" name="lastName" value={{thisUser.lastName}}><br>
    Favorite Team: <select name="favoriteTeam">
        {{#each team}}
            <option value="{{this.name}}" {{ifequal this.name ../favorite.name}}>{{this.city}} {{this
            .name}}</option>
        {{/each}}
    </select>
    <input type="submit">
</form>