<h3>{{linkTeam awayTeam.name}} at {{linkTeam homeTeam.name}}</h3>
{{game.date}}<br>
<h4>{{linkTeam awayTeam.name}} Roster</h4>
<table style="float: left; width:50%">
    {{#each awayTeam.players}}
    <tr><td>{{this.firstName}} {{this.lastName}}</td></tr>
    {{/each}}
</table>
<h4>{{linkTeam homeTeam.name}} Roster</h4>
<table style="float: left; width:50%">
    {{#each homeTeam.players}}
        <tr><td>{{this.firstName}} {{this.lastName}}</td></tr>
    {{/each}}
</table>
<h4>Predictions</h4>
<table>
    {{#each game.predictions}}
        {{!TODO: replace foo with relevant thing}}
        <tr><td>{{this}}</td></tr>
    {{/each}}
</table>
<h4>Add a Prediction</h4>
<form method="post" action="{{game.gameId}}/prediction">
    Who will win this game?<br>
    <input type="radio" name="winner" value=home>{{homeTeam.city}} {{homeTeam.name}}<br>
    <input type="radio" name="winner" value=away>{{awayTeam.city}} {{awayTeam.name}}<br>
    <input type="submit">
</form>